@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 700;

}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Grenze", serif;
}

p,
li,
a,
label {
    font-family: "Grenze", serif;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    color: var(--para-color);
    line-height: 2;
}

/* theme */

:root {
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    --bg-color: #f7fcff;
    --heading-color: #1c047f;
    --para-color: #504e4d;
    --hero-heading-color: #1c0ca3;
    --white-color: #ffffff;
    --btn-hover-bg-color: #1e3aca;
    --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --footer-bg-color: #040d12;
}

/* layout */

.container {
    max-width: 126rem;
    margin: 0 auto;
    padding: 6.6rem 2.4rem;
}

.navbar-brand a img {
    width: 40%;
    height: auto;
}

.section-navbar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.8) 0px 0px 0px 0px;
}

.section-navbar .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem 0;
}

.section-navbar .navbar ul {
    display: flex;
    gap: 3.2rem;

    & li a {
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        font-size: 1.6rem;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            border-bottom: 0.2rem solid var(--main-color);
            transition: all 0.4s linear;
        }

        &:hover:after {
            width: 100%;
        }
    }

}

/* :is(.section-about, .section-blog, .section-card, .section-contact, .section-course, .section-why--choose).container:first-child {
    padding:6.4rem 0 2.4rem 0 ;
} */

.grid {
    display: grid;
}

.grid-two-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
    grid-template-columns: repeat(4, 1fr);
}

/* reusable */

.btn {
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    display: inline-block;
    color: var(--white-color);
    border-radius: 0.6rem;
}

.btn:hover {
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
}

.section-hero-image figure img {
    width: 100%;
    height: auto;
}

.section-common-heading {
    font-size: 3rem;
}

.section-common-subheading {
    color: var(--heading-color);
}

.common-title {
    font-size: 2rem;
    margin: 2.4rem 0 1.2rem 0;
}

.section-common-para {
    font-size: 1.3rem;
}

.fa-solid {
    font-size: 2.4rem;
    background: var(--supporting-color);
    padding: 2.2rem;
    border-radius: 50%;
    color: var(--hero-heading-color);
}

/* start hero section */
main {
    position: relative;
    background-image: linear-gradient(to top right,
            #3d86fa,
            #4484fb,
            #679eff,
            #b3d2ff,
            #ebf3fe);
}

/* shape divider */
.custom-shape-divider-bottom-1718633755 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1718633755 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1718633755 .shape-fill {
    fill: #FFFFFF;
}

.section-hero .grid {
    align-items: center;
    grid-gap: 6.4rem;
}

.hero-subheading {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1.4rem;
    word-spacing: 0.2rem;
    font-weight: 700;
    color: var(--hero-heading-color);
}

.hero-heading {
    font-size: 4.4rem;
    text-transform: capitalize;
    font-family: "Piazzolla", serif;
    color: var(--heading-color);
    font-weight: 700;
}

.hero-para {
    margin: 2rem 0 4rem 0;
    color: var(--white-color);
}


/* end hero section */


/* about-section */

.section-about .container:nth-child(1) {
    padding: 4.6rem 3.2rem;
}

.icon img {
    padding: 2rem;
    background-color: var(--supporting-color);
    width: 13rem;
    height: auto;
    border-radius: 50%;
    transition: all .7s linear;
}

.icon:hover img {
    transform: rotate(360deg);
    background: linear-gradient(to right, #0575e6, #021b79);
}

.about-div {
    text-align: center;
}

.section-about .grid {
    gap: 6.4rem;
}

/* end about-section */

/* start course section */

.section-course .container:nth-child(2) {
    padding: 3.6rem 3.2rem;
}

.section-course {
    background-color: var(--bg-color);
}

.section-course .grid {
    gap: 3.2rem;
}

.section-course .course-div {
    padding: 3.2rem;
}

.course-div:hover {
    box-shadow: var(--btn-box-shadow);
}

.course-div:nth-child(2) .icon .fa-solid {
    color: #183d3d;
    background-color: #ccf7f7;
}

.course-div:nth-child(3) .icon .fa-solid {
    color: #d988b9;
    background-color: rgb(247, 233, 238);
}

.course-div:nth-child(4) .icon .fa-solid {
    color: #ff9b50;
    background-color: #f6dfce;
}

.course-div:nth-child(5) .icon .fa-solid {
    color: #1450a3;
    background-color: #dce9fa;
}

.course-div:nth-child(6) .icon .fa-solid {
    color: #183d3d;
    background-color: #ccf7f7;
}

.course-div:nth-child(7) .icon .fa-solid {
    color: #d988b9;
    background-color: rgb(247, 233, 238);
}

/* end course section */

/* start why-choose-section */

.section-why--choose .container:nth-child(2) {
    padding: 3.6rem 3.2rem;
}

.common-num-circle {
    font-size: 2.2rem;
    background: var(--supporting-color);
    color: var(--main-color);
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side-div .why-choose--div {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right;
}

.right-side-div .why-choose--div {
    margin-top: 3rem;
}

.choose-center--div figure img {
    width: 80%;
    height: auto;
}

.choose-center--div,
figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.choose-center--div::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--supporting-color);
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
}

.section-why--choose .grid {
    gap: 8.4rem;
}

/* end why-choose-section */

/* start card section */
.section-card {
    width: 65%;
    min-height: 30rem;
    margin: 10rem auto -20rem auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 0 2.2rem;
    border-radius: 1.3rem;
    background-color: var(--white-color);
    position: relative;


    & .grid {
        align-items: center;
        gap: 3.4rem;
    }
}

.section-card img {
    width: 80%;
    height: auto;
}

.card-title {
    font-size: 3.6rem;
    line-height: 1.2;
}

.card-content p {
    margin: 1.4rem 0 3.6rem 0;
}

.section-card a {
    color: var(--white-color);
    text-transform: capitalize;
    ;
}

.section-card .fa-solid {
    font-size: 1.6rem;
    padding: 0;
    background-color: var(--main-color);
    color: var(--white-color);

}

/* end card section */


/* start section blog */
.section-blog {
    background-color: var(--bg-color);

    & img {
        width: 100%;
        height: auto;
    }

    & .grid {
        gap: 6.4rem;
    }

    & .container:nth-child(1) {
        padding: 6.6rem 2.4rem 2rem;
    }

    & .blog {
        box-shadow: var(--btn-box-shadow);
        transition: transform .7s ease;

        & .blog-content {
            padding: 1.2rem 2.2rem 2.2rem;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    & .blog-date {
        display: flex;
        justify-content: space-between;
        margin-top: 1.3rem;

        & .fa-solid {
            background-color: transparent;
            padding: 0;
            font-size: 1.8rem;
        }
    }

    & .section-common-title {
        margin-top: 0.8rem;
        font-size: 1.8rem;
    }
}

/* end section blog */
/* start section-contact */
.section-contact .grid {
    align-items: center;
    gap: 3.2rem;
}

.mb {
    margin-bottom: 2rem;
}

label {
    display: block;
    text-transform: capitalize;
}

/* .contact-content .grid {
    gap: 4.4rem;
} */

input,
textarea {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
}

::placeholder {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.btn-submit {
    font-size: 1.4rem;
    border: none;
    text-transform: capitalize;
}

/* end section-contact */

/* start footer section */
.section-footer {
    background-color: var(--footer-bg-color);
    padding-top: 20rem;
}

.section-footer * {
    color: var(--white-color);
}

.footer-subheading {
    font-size: 2rem;
}

.footer-1--div p {
    margin: 1.2rem 0;
}

.footer-1--div {
    text-align: left;

    & .fa-brands {
        width: 5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--supporting-color);
        color: var(--btn-hover-bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s linear;

        &:hover {
            rotate: 360deg;
            color: var(--supporting-color);
            background-color: var(--btn-hover-bg-color);
        }
    }
}

.footer-2--div,
.footer-3--div,
.footer-4--div {
    text-align: center;

    & a:hover {
        color: var(--btn-hover-bg-color);
        transition: all .3s ease;
    }
}

.social-footer-icons {
    margin: 3.6rem 0;
    display: flex;
    gap: 2.2rem;
}

.social-footer-icons a {
    font-size: 2.6rem;
    letter-spacing: 0;
}

/* end footer section */