@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 700;

}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Grenze", serif;
}

p,
li,
a {
    font-family: "Grenze", serif;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    color: var(--para-color);
    line-height: 2;
}

/* theme */

:root {
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    --bg-color: #ffffff;
    --heading-color: #1c047f;
    --para-color: #504e4d;
    --hero-heading-color: #1c0ca3;
    --white-color: #ffffff;
    --btn-hover-bg-color: #1e3aca;
    --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* layout */

.container {
    max-width: 126rem;
    margin: 0 auto;
    padding: 6.6rem 2.4rem;
}

.navbar-brand a img {
    width: 40%;
    height: auto;
}

.section-navbar {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.8) 0px 0px 0px 1px;
}

.section-navbar .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem 0;
}

.section-navbar .navbar ul {
    display: flex;
    gap: 3.2rem;

    & li a {
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        font-size: 1.6rem;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            border-bottom: 0.2rem solid var(--main-color);
            transition: all 0.4s linear;
        }

        &:hover:after {
            width: 100%;
        }
    }

}

.grid {
    display: grid;
}

.grid-two-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
    grid-template-columns: repeat(4, 1fr);
}

/* reusable */

.btn {
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    display: inline-block;
    color: var(--white-color);
    border-radius: 0.6rem;
}

.btn:hover {
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
}

.section-hero-image figure img {
    width: 100%;
    height: auto;
}

.section-common-heading {
    font-size: 3rem;
}

.section-common-subheading {
    color: var(--heading-color);
}

.common-title {
    font-size: 2rem;
    margin: 2.4rem 0 1.2rem 0;
}

.section-common-para {
    font-size: 1.3rem;

}

.fa-solid {
    font-size: 2.4rem;
    background: var(--supporting-color);
    padding: 2.2rem;
    border-radius: 50%;
    color: var(--hero-heading-color);
}

/* start hero section */
main {
    position: relative;
    background-image: linear-gradient(to top right,
            #3d86fa,
            #4484fb,
            #679eff,
            #b3d2ff,
            #ebf3fe);
}

/* shape divider */
.custom-shape-divider-bottom-1718633755 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1718633755 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1718633755 .shape-fill {
    fill: #FFFFFF;
}

.section-hero .grid {
    align-items: center;
    grid-gap: 6.4rem;
}

.hero-subheading {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1.4rem;
    word-spacing: 0.2rem;
    font-weight: 700;
    color: var(--hero-heading-color);
}

.hero-heading {
    font-size: 4.4rem;
    text-transform: capitalize;
    font-family: "Piazzolla", serif;
    color: var(--heading-color);
    font-weight: 700;
}

.hero-para {
    margin: 2rem 0 4rem 0;
    color: var(--white-color);
}


/* end hero section */


/* about-section */


.icon img {
    padding: 2rem;
    background-color: var(--supporting-color);
    width: 13rem;
    height: auto;
    border-radius: 50%;
    transition: all .7s linear;
}

.icon:hover img {
    transform: rotate(360deg);
    background: linear-gradient(to right, #0575e6, #021b79);
}

.about-div {
    text-align: center;
}

.section-about .grid {
    gap: 6.4rem;
}

/* end about-section */

/* start course section */

.section-course{
    background: #f7fcff;
}

.section-course .grid {
    gap: 3.2rem;
}

.section-course .course-div {
    padding: 3.2rem;
}

.course-div:hover {
    box-shadow: var(--btn-box-shadow);
}

.course-div:nth-child(2) .icon .fa-solid {
    color: #183d3d;
    background-color: #ccf7f7;
}

.course-div:nth-child(3) .icon .fa-solid {
    color: #d988b9;
    background-color: rgb(247, 233, 238);
}

.course-div:nth-child(4) .icon .fa-solid {
    color: #ff9b50;
    background-color: #f6dfce;
}

.course-div:nth-child(5) .icon .fa-solid {
    color: #1450a3;
    background-color: #dce9fa;
}

.course-div:nth-child(6) .icon .fa-solid {
    color: #183d3d;
    background-color: #ccf7f7;
}

.course-div:nth-child(7) .icon .fa-solid {
    color: #d988b9;
    background-color: rgb(247, 233, 238);
}

/* end course section */

/* start why-choose-section */

.common-num-circle{
    font-size: 2.2rem;
    background: var(--supporting-color);
    color: var(--main-color);
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-side-div .why-choose--div{
    margin-top: 3rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right;
}
.right-side-div .why-choose--div{
    margin-top: 3rem ;
}
.choose-center--div figure img{
    width: 80%;
    height: auto;
}
.choose-center--div ,figure{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.choose-center--div::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--supporting-color);
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
}
.section-why--choose .grid{
    gap: 8.4rem;
}
/* end why-choose-section */